* {
  font-family: "El Messiri", sans-serif;

    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

}
body{
  max-width: 100%;
  overflow-x: hidden;
}

/* Body */
#navbarNav{
    justify-content: center;
  }
  
  .navbar-nav{
    flex-direction: column;
    text-align:center;
    justify-content:center;
    column-gap: 30px;
  }

  .navbar{
      transition: all 0.5s;
  }

  .navbar-nav a {
    color: #000;
  }

  .navbar-scrolled{
      background-color: rgba(255, 255, 255, 0.66);
      box-shadow:rgba(0, 0, 0, 0.15);
  }
  
  .navbar-scrolled a{
    color: #70777f;
  }



html {
    scroll-behavior: smooth;
}


#section1 p span{
  font-size: 25px;
  font-weight: bold;
  color: #34586C;
  text-align: center;
}


/* main section  */

section{
  padding: 100px 100px;
} 

.main{
  display: flex;
  align-items: center;
  background-color:#F4F2EE;
  font-family: "Londrina Outline", sans-serif;
  background: url(../images/main7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2{
  color:#F4F2EE ;
  font-family: "Londrina Outline", sans-serif;
  font-size: 30px;
  font-weight: 500 ;
}

.main h2 span{
  margin-top: 50px;
  color: #F4F2EE;
  font-size: 8vw;
  font-weight: 600;
}

.main-btn{
  color: #f1f0da;
  background-color: #6A3665 ;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 40px;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: 0.3s smooth;
}

.main-btn:hover{
  background-color: #7f4279 ;
  transform: scale(1.1);
}



/* About section  */

.vision {
  background-color: beige;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #3C3C3C;
  font-weight: 800;
  padding-bottom: 30px;
  text-align: center;
}

.title2{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #878181;
  font-weight: 800;
  padding-bottom: 30px;
  text-align: center;

}


/* regiester section  */

.box{
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94,104,121,0.3);
  height: 150px;
  width: 150px;
  background: #bfd2dc;
  border-radius: 20px;
  margin: 20px;
  }



/* Our Services  */


.info {
  text-align: center;
  padding: 40px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}



/* Counter section  */

.counter-section i { display:block; margin:0 0 10px}
.counter-section span.counter { font-size:40px; color:#000; line-height:60px; display:block; font-family: "Oswald",sans-serif; letter-spacing: 2px}
.counter-title{ font-size:12px; letter-spacing:2px; text-transform: uppercase}
.counter-icon {top:25px; position:relative}
.counter-style2 .counter-title {letter-spacing: 0.55px; float: left;}
.counter-style2 span.counter {letter-spacing: 0.55px; float: left; margin-right: 10px;}
.counter-style2 i {float: right; line-height: 26px; margin: 0 10px 0 0}
.counter-subheadline span {float: right;}  

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
} 




.card {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}


/* Regeister section   */


.card-regeister {
  --bg: #00815b;
  background-color: linear( #F4F2EE , #FFD4DD);
  --hover-bg: #d1cfc2;
  --hover-text: #353433;
  box-shadow: #3f3f39;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-shadow: #6e6b80;
}

.kitchen-body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card-regeister > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card-regeister > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
}

.card-regeister span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card-regeister:hover span {
  top: 0;
  font-size: 2em;
}

.card-regeister:hover {
  background: var(--hover-bg);
}

.card-regeister:hover>div,.card-regeister:hover>strong {
  opacity: 0;
}



/* articla section  */

.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  /* background: #29292c; */
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #283F31, #8EB89C, #FFD4DD);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #F4F2EE;
  z-index: 2;
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: #00815b;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #111;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}