* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden; */

}

/* Body */
#navbarNav{
    justify-content: center;
  }
  
  .navbar-nav{
    flex-direction: column;
    text-align:center;
    justify-content:center;
    column-gap: 30px;
  }

  .navbar{
      transition: all 0.5s;
  }

  .navbar-nav a {
    color: #000;
  }

  .navbar-scrolled{
      background-color: rgba(255, 255, 255, 0.377);
      box-shadow:rgba(0, 0, 0, 0.15);
  }
  
  .navbar-scrolled a{
    color: #70777f;
  }



html {
    scroll-behavior: smooth;
}


#section1 p span{
  font-size: 25px;
  font-weight: bold;
  color: #34586C;
  text-align: center;
}




/* main section  */

section{
  padding: 100px 100px;
} 

.main{
  display: flex;
  align-items: center;
  background-color:#F4F2EE;
  font-family: "Londrina Outline", sans-serif;
  /* background: url(../images/main.jpeg) no-repeat; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2{
  color:#F4F2EE ;
  font-family: "Londrina Outline", sans-serif;
  font-size: 30px;
  font-weight: 500 ;
}

.main h2 span{
  margin-top: 50px;
  color: #F4F2EE;
  font-size: 8vw;
  font-weight: 600;
}

.main-btn{
  color: #f1f0da;
  background-color: #6A3665 ;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 40px;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: 0.3s smooth;
}

.main-btn:hover{
  background-color: #7f4279 ;
  transform: scale(1.1);
}



/* About section  */

.vision {
  background-color: beige;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #3C3C3C;
  font-weight: 800;
  padding-bottom: 30px;
  text-align: center;
}

.title2{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #878181;
  font-weight: 800;
  padding-bottom: 30px;
  text-align: center;

}


/* Projects section  */

.project{
  background-color: rgb(255, 255, 255);
}

.neom-icon{
  width: 100px;
}

.project-name{
  color: brown;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 20px;
}

.see{
  display: flex;
  justify-content: center;
  color: #3f3f39;
  border-color: orange;
  background-color: orange;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: 0.3s smooth;
}

.see:hover{
  background-color: rgb(234, 205, 155);
  transform: scale(1);
}


/* regiester section  */

.box{
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94,104,121,0.3);
  height: 150px;
  width: 150px;
  background: #bfd2dc;
  border-radius: 20px;
  margin: 20px;
  }


/* Our Services  */


.info {
  text-align: center;
  padding: 40px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 
.card {
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.3s ease;
  width: 200px;
  height: 200px;
} */





/* Counter section  */

.counter-section i { display:block; margin:0 0 10px}
.counter-section span.counter { font-size:40px; color:#000; line-height:60px; display:block; font-family: "Oswald",sans-serif; letter-spacing: 2px}
.counter-title{ font-size:12px; letter-spacing:2px; text-transform: uppercase}
.counter-icon {top:25px; position:relative}
.counter-style2 .counter-title {letter-spacing: 0.55px; float: left;}
.counter-style2 span.counter {letter-spacing: 0.55px; float: left; margin-right: 10px;}
.counter-style2 i {float: right; line-height: 26px; margin: 0 10px 0 0}
.counter-subheadline span {float: right;}  

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
} 


/* 


.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
} */


/* this card is inspired form this - https://georgefrancis.dev/ */

.card {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}