* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/* Body */
#navbarNav{
    justify-content: center;
  }
  
  .navbar-nav{
    flex-direction: column;
    text-align:center;
    justify-content:center;
    column-gap: 30px;
  }

  .navbar{
      transition: all 0.5s;
  }

  .navbar-nav a {
    color: #000;
  }

  .navbar-scrolled{
      background-color: rgba(255, 255, 255, 0.377);
      box-shadow:rgba(0, 0, 0, 0.15);
  }
  
  .navbar-scrolled a{
    color: #70777f;
  }



html {
    scroll-behavior: smooth;
}


#section1 p span{
  font-size: 25px;
  font-weight: bold;
  color: #34586C;
  text-align: center;
}


/* main section  */

section{
  padding: 100px 100px;
} 

.main{
  display: flex;
  align-items: center;
  background-color:#F4F2EE;
  font-family: "Londrina Outline", sans-serif;
  background: url(../images/main7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2{
  color:#F4F2EE ;
  font-family: "Londrina Outline", sans-serif;
  font-size: 30px;
  font-weight: 500 ;
}

.main h2 span{
  margin-top: 50px;
  color: #F4F2EE;
  font-size: 8vw;
  font-weight: 600;
}

.main-btn{
  color: #f1f0da;
  background-color: #6A3665 ;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 15px 40px;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  transition: 0.3s smooth;
}

.main-btn:hover{
  background-color: #7f4279 ;
  transform: scale(1.1);
}



/* About section  */

.vision {
  background-color: beige;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #3C3C3C;
  font-weight: 800;
  padding-bottom: 30px;
  text-align: center;
}

.title2{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #878181;
  font-weight: 800;
  padding-bottom: 30px;
  text-align: center;

}


/* Projects section  */

.project{
  background-color: rgb(229, 183, 85);
}

.neom-icon{
  width: 100px;
}

.project-name{
  color: brown;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-top: 20px;
}

.see{
  display: flex;
  justify-content: center;
  color: #3f3f39;
  border-color: orange;
  background-color: orange;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: 0.3s smooth;
}

.see:hover{
  background-color: rgb(234, 205, 155);
  transform: scale(1);
}


/* regiester section  */

.box{
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94,104,121,0.3);
  height: 150px;
  width: 150px;
  background: #bfd2dc;
  border-radius: 20px;
  margin: 20px;
  }


/* Our Services  */


.info {
  text-align: center;
  padding: 40px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 
.card {
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.3s ease;
  width: 200px;
  height: 200px;
} */





/* Counter section  */

.counter-section i { display:block; margin:0 0 10px}
.counter-section span.counter { font-size:40px; color:#000; line-height:60px; display:block; font-family: "Oswald",sans-serif; letter-spacing: 2px}
.counter-title{ font-size:12px; letter-spacing:2px; text-transform: uppercase}
.counter-icon {top:25px; position:relative}
.counter-style2 .counter-title {letter-spacing: 0.55px; float: left;}
.counter-style2 span.counter {letter-spacing: 0.55px; float: left; margin-right: 10px;}
.counter-style2 i {float: right; line-height: 26px; margin: 0 10px 0 0}
.counter-subheadline span {float: right;}  

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
} 




.card {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}




/* Regeister section   */


.card-regeister {
  --bg: #546441;
  --hover-bg: #d1cfc2;
  --hover-text: #353433;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  box-shadow: #6e6b80;
}

.kitchen-body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card-regeister > :not(span) {
  transition: .3s cubic-bezier(.6,.4,0,1);
}

.card-regeister > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -.035em;
}

.card-regeister span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card-regeister:hover span {
  top: 0;
  font-size: 2em;
}

.card-regeister:hover {
  background: var(--hover-bg);
}

.card-regeister:hover>div,.card-regeister:hover>strong {
  opacity: 0;
}





/* article section  */

.card-article {
  box-sizing: border-box;
  display: flex;
  max-width: 320px;
  background-color: rgba(255, 255, 255, 1);
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-article:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.081);
}

.date-time-container {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 0.5rem;
}

.date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 1rem;
  gap: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(17, 24, 39, 1);
}

.separator {
  width: 1px;
  flex: 1 1 0%;
  background-color: rgba(17, 24, 39, 0.1);
}

.content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  border-left: 1px solid rgba(17, 24, 39, 0.1);
  padding: 1rem;
}

.title3 {
  font-weight: 700;
  text-decoration: #34586C;
  text-transform: uppercase;
  font-size: 18.72px;
  color: rgba(17, 24, 39, 1);
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(55, 65, 81, 1);
}

.action {
  display: block;
  background-color: #b8a1a1;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(17, 24, 39, 1);
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.action:hover {
  background-color: rgba(250, 204, 21, 1);
}




/* about section  */
/* .about{ */
  /* background-image: url(../images/about2.jpeg); */
/* } */



.home{
  background-color: #F8F6EB;
  margin-top: 70px;
  margin-bottom: 70px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* overflow: hidden; */
  animation: moveRightLeft 10s infinite;
}


@keyframes moveRightLeft{
  0%{
    transform:translateX(0);
  }
  50% {
    transform: translateX(100px);

    }
  100%{
    transform: translateX(-100px);
  }
}


/* services  */
/* .ourservices {
  background-image: url(../images/cloud.png);
} */



