
{% extends 'main/base.html' %}
{% block title %}CookSpaces | ARTICLES{% endblock %}

{% block style %}

{% endblock %}

{% block content %}




<section>
    <div class="container">
        <div class="row mt-5">
            
            <div class="col-6 mt-5">
                <h1 class="fw-dark text-blak">Add Recipes</h1>
                <form action="{% url 'main:add_recipes' %}" method="POST" enctype="multipart/form-data" class="action d-flex flex-column gap-2 " style="margin-top: 30px;">
                
                    {% csrf_token %}
                    
                    
                    <input name="name" type="text" placeholder="recipes name" class="form-control" required>
                    <textarea name="content" type="text" placeholder="recipes .." class="form-control" required ></textarea>
                    
                    <input name="time_coocking" type="text" placeholder="time coockin" class="form-control" required>
                    <input name="number_people" type="text" placeholder="Quantity serves people" class="form-control" required>
                    

                    <h5 class="mt-3">Choose Image:</h5>
                    <input name="image"  type="file"  accept="image/*" class="form-control " required />

                    
                    
                    <h5 class="mt-3">Category</h5>
                    {% for val, cat in Category %}
                        <div class="form-check">
                            
                            <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="{{val}}" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                {{cat}}
                            </label>
                            
                          </div>
                          {% endfor %}

                    <input type="submit" class="btn btn mt-5" value="Add Recipes" style="background-color: rgb(161, 215, 145);" />
                </form>
            </div>
            <div class="col-6">
                <img src="/static/image/add.png" class="mp-5 rounded-4" style="width: 500px; height: 500x; margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">
            </div>
        </div>
    </div>
    
</section>

{% endblock %}