{% extends 'main/base.html' %}
{% block title %}CookSpaces | All Kitchens{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container p-2">
            
    <div class="row">
        {% for kitchen in kitchen %}
        <div class="col-12 mb-3">
            <div class="d-flex flex-row align-items-center border border-1 shadow p-3 ">
                <div class="w-40">
                    <img src="{{  kitchen.poster.url }}" class="w-100  card-poster"  style="height: 300px;" />
                </div>
                <div class="w-75 ps-3">
                    <h2><a href="{% url 'main:kitchen_detail' kitchen.id  %}" class="text-decoration-none text-black">{{kitchen.name }}</a></h2>
                    <h3><a href="{% url 'KitchenOwner:user_profile' kitchen.user.id %}" class="text-decoration-none text-black"> {{kitchen.user.username}}</a></h3>
                    <h6 class="cat pt-1 pb-1 rounded-pill {{ kitchen.category }}" style="width: 100px; background-color: rgb(233, 157, 116); text-align: center;">{{ kicthen.category }}</h6>
                    <h6 class="text-muted">{{ kitchen.published_at }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}