{% extends 'main/base.html' %}
{% block title %}CookSpaces | ARTICLES{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<!-- <div class="row">
    <div class="col">
                <img src="{{kitchen.poster.url}}" alt="poster">

        <h1>{{kitchen.title}}</h1>
        <p>{{kitchen.content}}</p>

    </div>
</div> -->



<section style="padding-top:150px;">

    <div class="row" >
        <div class="col">
            <img src="{{kitchen.poster.url}}" alt="poster" style="width:500px;">
        </div>
        <div class="col ">
            <!-- <h2 class=" title h1 fw-bold"> <u class="text-warning"><span style="color: #00815b; padding-top: 500px; ">  {{kitchen.title}}</span></u></h2> -->
            <h1 class="display- mt-4 mb-5" style="color: #8EB89C; direction: rtl; text-align: center; padding-top:60px ;" > <br><u class="text-warning"><span style="color: #1E4D57;font-size: 150%;">{{kitchen.title}}</span></u></h1>


        </div>

    </div>
    <div>
        <p style="padding-top:50px;color: rgb(23, 23, 23); direction: rtl; font-size: 25px;">{{kitchen.content}}</p>
    </div>




</section>
{% endblock %}