{% extends 'main/base.html' %}
{% block title %}CookSpaces | ARTICLES{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}



<section style="padding-top:150px;">

    <div class="row" >
        <div class="col order-2">
            <img src="{{article.poster.url}}" alt="poster" style="width:500px;">
        </div>
        <div class="col order-1">
            <h1 class="display- mb-5" style="color: #8EB89C; direction: rtl; text-align: center; padding-top:10px ;" > <br><u class="text-warning"><span style="color: #1E4D57;font-size: 150%;">{{article.title}}</span></u></h1>
        </div>

    </div>
    <div>
        <p style="padding-top:50px;color: rgb(23, 23, 23); direction: rtl; font-size: 25px; white-space: pre-line; padding-right: 30px; padding-left: 30px;">{{article.content}}</p>
    </div>

</section>
{% endblock %}