{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>

    <link rel="shortcut icon" href="#" type="image/x-icon">
    <!-- CSS Style -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <!-- Google Icon & Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/351e3a5348.js" crossorigin="anonymous"></script>

    <!--  Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% block styles %}
    {% endblock %}

  </head>
  <body style="background: linear-gradient(#ffffff, #a8a8a893); background-attachment:  fixed;">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-collapse fixed-top p-2 mb-1">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand d-flex flex-column justify-content-center align-items-center" href="{% url 'main:home' %}">
            <h4 class="fa-fade" style="text-align: center;">CookSpaces</h4></a>

                    
          <div id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'main:all_kitchen' %}">KITCHENS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:articals' %}">ARTICALS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:about' %}">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:contact' %}">CONTACT US</a>
              </li>
            </ul>
          </div>

          <div class="d-flex gap-3 align-items-center">
            <a class="btn btn-dark" href="#" style="padding: 5px;">Add Kitchen</a>
            
            {% if request.user.is_authenticated %} 
            <div class="d-flex gap-2">
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  welcome, <strong> {{ request.user.username }} </strong>
                </a>
                <ul class="dropdown-menu" style="background: #e4e4e4b7;">
                  <li><a class="dropdown-item" href="#">My Profile</a></li>
                  <li><a class="dropdown-item" href="#">My Saved Kitchen</a></li>

                  <!-- <li><a class="dropdown-item" href="#">My Orders</a></li> -->
                  
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
              </div>
            </div>
  
            {% else %}
            <div>
              <a href="{% url 'accounts:register' %}" style="color: #02020b; text-decoration: none;">Sign Up</a>
              /
              <a href="{% url 'accounts:login' %}" style="color: #02020b; text-decoration: none;">Login</a>
            </div>
  
            {% endif %}
          </div>

        </div>
      </nav>

      <script>
        const navEl = document.querySelector('.navbar');
        window.addEventListener('scroll', () => {
            if (window.scrollY >= 56){
                navEl.classList.add('navbar-scrolled');
            } else if (window.scrollY < 56){
                navEl.classList.remove('navbar-scrolled')
            }
        })
      </script>
    </div>
      <div class="container">
        {% block content %}
        {% endblock %}

      </div>

        <!-- Footer -->

        <footer class="bd-footer">
            <hr style="margin-top: 2rem;">
            <div class="container py-3 py-md-3 px-3 px-md-3 text-body-secondary">
              <div class="row">
                <div class="col-4 col-lg-3 mb-3">
      
                  <a class="navbar-brand d-flex flex-column align-items-center" href="{% url 'main:home' %}">
                    <h6 class="fa-fade" style="font-size: medium; text-align: center;">CookSpaces</h6></a>
                    <!-- <ul class="list-unstyled d-flex flex-row justify-content-center gap-5 mt-4">
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-youtube"></i></a></li>
                  </ul> -->
                </div>
      
                <div class="col-4 col-lg-2 offset-lg-1 mb-3">
                  <h5>Explore</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" style="color: #080822; text-decoration: none;">Home</a></li>
                    <li class="mb-2"><a href="#" style="color: #080822; text-decoration: none;">Kitchens</a></li>
                    <li class="mb-2"><a href="#" style="color: #080822; text-decoration: none;">About</a></li>
                    <li class="mb-2"><a href="#" style="color: #080822; text-decoration: none;">Contact Us</a></li>
                  </ul>
                </div>
      
                <div class="col-6 mb-3">
                  <div class="d-flex justify-content-center">
                    <h5>Join us</h5>
                  </div>
                  <ul class="list-unstyled d-flex flex-row justify-content-center gap-5 mt-4">
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#" style="color: #02020b; font-size: larger;"><i class="fa-brands fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
      
              <div class="row">
                <hr>
                <div class="col d-flex" style="justify-content: space-between;">
                  © 2024 by. CookSpaces Team, All rights reserved.
                  <div class="d-flex gap-3">
                    <a href="#" style="color: #080822; text-decoration: none;">Terms & Conditions</a>
                    <a href="#" style="color: #080822; text-decoration: none;">Privacy Policy</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- <script src="@@path/vendor/countup.js/dist/countUp.umd.js"></script> -->
  </body>
</html>