{% extends 'main/base.html' %}
{% load static %}

{% block title %} CookSpaces | CONTACT US {% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 120px;">
        <div class="col">
            <div class="d-flex flex-column p-3 rounded-4 w-100"
            style="color:aliceblue; 
            background: linear-gradient(217deg, rgba(41, 134, 196, 0.8), rgba(255,0,0,0) 70.71%),
                        linear-gradient(127deg, rgba(7, 115, 129, 0.8), rgba(0,255,0,0) 70.71%),
                        linear-gradient(336deg, rgba(2, 2, 148, 0.8), rgba(0,0,255,0) 70.71%);">
                <!-- <h1>Contact Us</h1> -->
    
                <div class="row mt-4">
                    <div class="col-12 col-md-7 order-2 order-md-2">
                        <form action="{% url 'main:contact' %}" method="post" class="d-flex flex-column gap-2">
                            {% csrf_token %}
    
                            <div class="row">
                                <div class="col">
                                    <label for="first_name" class="form-label">First Name:</label>
                                    <input name="first" type="text" class="form-control" id="first_name" placeholder="First Name..." required>
                                </div>
    
                                <div class="col">
                                    <label for="last_name" class="form-label">Last Name:</label>
                                    <input name="last" type="text" class="form-control" id="last_name" placeholder="Last Name..." required>
                                </div>
                            </div><!--First Name & Last Name-->
    
                            <div class="col">
                                <label for="email" class="form-label">Email Address:</label>
                                <div class="input-group">
                                  <span class="input-group-text">@</span>
                                  <input name="email" type="email" class="form-control" id="email" placeholder="example@gmail.com" required>
                                </div>
                            </div><!--Email-->
    
                            <label for="message">Your Message:</label>
                            <textarea name="message" id="message" placeholder="Messages..." cols="30" rows="5" class="form-control"></textarea>
            
                            <input type="submit" class="btn btn-dark rounded-4" value="Send" style="background: linear-gradient(#081b22, #051116, #02070b);"/>
            
                        </form>
                    </div>
    
                    <div class="col col-md-5 order-1 order-md-1 d-flex flex-column justify-content-center align-items-center fa-fade">
                        <!-- <img src="{% static 'images/plan.jpg' %}" alt="image" class="rounded-4" style="opacity: 0.8; background-size: cover; width: 100%; height: 53vh;"> -->
                        <i class="fa fa-thin fa-paper-plane fa-3x" style="color: #ffffff;"></i>
                        <h1>Contact Us</h1>
                    </div>
                </div> <!-- row 2 : Contact Form -->

            </div>

            <div class="row mt-4 ">
                <div class="col d-flex justify-content-center">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'main:message' %}" class="btn btn-outline-dark">Go to Messages...</a>
                    {% endif %}
                </div>
            </div><!-- row 3 : Message Button for Admin-->
        </div><!-- col 1-->
    </div> <!-- row 1-->

    <hr>
        <!-- FAQ  -->
    <section style="direction: rtl;">
        <h2 class="title">اسئلة شائعة</h2>
        <br>
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="border-bottom py-3" id="headingOne">
            <h3 class="mb-0 fw-bold">
                <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="me-auto" style="color: #6E6A6A;">
                What is the cost of an online course
                </span><span class="material-symbols-outlined" style="color: #6E6A6A;" >
                    add
                    </span>
                <span class="collapse-toggle ms-4">
                <i class="fe fe-plus" style="color: #6E6A6A;"></i>
                </span>
                </a>
            </h3>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="py-3 fs-4" style="color: #818181;">
                Create beautiful website with this Geeks UI template. Get started building a site today.
            </div>
            </div>


            <div class="border-bottom py-3" id="headingTwo">
            <h3 class="mb-0 fw-bold">
                <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="me-auto" style="color: #6E6A6A;">
                What do I need to take a course?
                </span><span class="material-symbols-outlined" style="color: #6E6A6A;" >
                    add
                    </span>
                <span class="collapse-toggle ms-4">
                <i class="fe fe-plus" style="color: #6E6A6A;"></i>
                </span>
                </a>
            </h3>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="py-3 fs-4" style="color: #818181;">
                Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
            </div>


            <div class="border-bottom py-3 " id="headingThree">
            <h3 class="mb-0 fw-bold">
                <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="me-auto" style="color: #6E6A6A;">
                What do I receive for taking this course?
                </span><span class="material-symbols-outlined" style="color: #6E6A6A;" >
                    add
                    </span>
                <span class="collapse-toggle ms-4">
                <i class="fe fe-plus" style="color: #6E6A6A;"></i>
                </span>
                </a>
            </h3>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="py-3 fs-4" style="color: #818181;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                quinoa nesciunt laborum eiusmod.
            </div>
            </div>

            
            <div class="pt-3 " id="headingFour">
            <h3 class="mb-0 fw-bold">
                <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="me-auto" style="color: #6E6A6A;">
                What willI get if I subscribe to this Certificate?
                </span> <span class="material-symbols-outlined" style="color: #6E6A6A;" >
                    add
                    </span>
                <span class="collapse-toggle ms-4">
                <i class="fe fe-plus" style="color: #6E6A6A;"></i>
                </span>
                </a>
            </h3>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="py-3 fs-4" style="color: #818181;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        </div>
            </div>
            </div>
            <br><br> <br><br>
            <div class="mt-10 text-center">
            <a href="{% url 'main:contact' %}" class="btn btn-outline-warning"><span style="color: #6A3665;">تواصل معنا</span></a>
            </div>
    </section>
</div>

{% endblock %}