{% extends 'main/base.html' %}
{% block title %}CookSpaces | HOME{% endblock %}

{% block style %}
<style>


    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 200,
      'opsz' 24
    }

    </style>
{% endblock %}

{% block content %}

<!-- Main section -->

<!-- 
    <div class="main-img" style="position: relative; background-color: #F8F6EB; " >
            <img src="static/images/main2.jpeg" alt="" class="main-img" style="width: 80%; height: 800px; margin-top: 60px;">
            <div style="position: absolute; left: 390px; bottom: 0;  background-color: #F8F6EB; margin: 100px; padding-left: 0; padding: 100px;">
                <div class="col-xl-7 col-lg-10 col-md-12 col-12" style="margin-left: 200px; direction: rtl;">

                   <span class="text-uppercase fw-semibold ls-md" style="color: #1E4D57;">CookSpaces</span>
                   <h1 class="display- mt-4 mb-4 fw-bold" style="color: #1E4D57;" >وجهتك الأولى<br><u class="text-warning"><span style="color: #1E4D57;">لعالم المطاعم السحابية</span></u></h1>
                   <p class="fs-3 mb-5" style="direction: rtl;">مهمتنا نشاركك رحلتك لتحقيق أهدافك وتحويل افكارك لواقع     </p>
                </div>
            </div>
    </div> -->

      <div class="row">
        <div class="col">
          <img src="static/images/mainpink1.jpeg" alt="" style="width: 800px;padding-top: 50px;">
        </div>
        <div class="col" style="background-color: #fff; padding-right: 50px; padding-top: 30px;">

                             <h1 class="display- mt-4 mb-4 mb-5" style="color: #8EB89C; direction: rtl; text-align: center; padding-top:200px ;" >وجهتك الأولى<br><u class="text-warning"><span style="color: #1E4D57;font-size: 150%;">لعالم المطاعم السحابية</span></u></h1>
                   <p class="mb-5" style="direction: rtl;text-align: center;font-size: 200%; font-weight: bold; color: #6E6A6A;">مهمتنا نشاركك رحلتك <br> لتحقيق أهدافك وتحويل افكارك لواقع     </p>
        </div>
      </div>



<!-- Why cloud resturant section  -->

<section class="ourservices" style="background-color:#00815b; ">
  <div class="py-8">
      <div class="container " style="direction: rtl;">
          <div class="row ">
         <div class="col-lg-6 col-md-12 col-12 text-center " style="padding-top: 150px;">
                 <div class="pe-lg-6 ps-lg-6">
                  
                     <span  style="color: #F8F6EB;font-size: 200%;">أسباب
                     </span>
                     <h2 class="h1 fw-bold" style="color:#B3DBC0;">تفضيل <u class="text-warning"><span style="color: #FFD4DD;">   المطاعم السحابية  </span></u></h2>
                     <h3 style="font-weight: bold; font-size: 40px; color: #B3DBC0;">   على المطاعم التقليدية  </h3>
                 </div>
             </div>
         <div class="col-lg-6 mt-6">

          <div class="d-flex mb-4 px-5" style="flex-direction: row-reverse; ">

              <div class="ms-3 dir='rtl'">
                  <div style="color: #F8F6EB;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                          <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                          <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"/>
                        </svg>
                  </div>
                  <br>
                  <h3 class="mb-2" style="color: #F8F6EB;"> تكاليف أقل، أرباح أعلى </h3>
                  <p class="mb-0 fs-4" style="color: #F8F6EB;">التكاليف التشغيلية المنخفضة إلى جانب إحتمالية النمو المرتفعة تخلي المطاعم السحابية الحل للنجاح في عالمنا الإقتصادي اليوم 
                  </p>
              </div>
          </div>

          <div class="d-flex mb-4 px-5" style="flex-direction: row-reverse; ">

              <div class="ms-3">
                  <div style="color: #F8F6EB;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-life-preserver" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m6.43-5.228a7.03 7.03 0 0 1-3.658 3.658l-1.115-2.788a4 4 0 0 0 1.985-1.985zM5.228 14.43a7.03 7.03 0 0 1-3.658-3.658l2.788-1.115a4 4 0 0 0 1.985 1.985zm9.202-9.202-2.788 1.115a4 4 0 0 0-1.985-1.985l1.115-2.788a7.03 7.03 0 0 1 3.658 3.658m-8.087-.87a4 4 0 0 0-1.985 1.985L1.57 5.228A7.03 7.03 0 0 1 5.228 1.57zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                        </svg>
                  </div>
                  <br>

                  <h3 class="mb-2" style="color: #F8F6EB;">مرونة ونطاق عمل قابل للتوسع</h3>
                  <p class="mb-0 fs-4" style="color: #F8F6EB;">بغض النظرعن مدى سرعتك أو ثباتك، المطابخ السحابية تقلل أتعابك وتنمي مشروعك
                  </p>
              </div>
          </div>

          <div class="d-flex mb-4 px-5 " style="flex-direction: row-reverse; ">

              <div class="ms-3">
                  <div style="color: #F8F6EB;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>
                  </div>
                  <br>

                  <h3 class="mb-2 " style="color: #F8F6EB;">  فريق أقل وأكثر كفاءة </h3>
                  <p class="mb-0 fs-4" style="color: #F8F6EB;">ما تحتاج فريق عمل كبير وتقدر تقتصر على فريق عمل صغير في مشروعك وجزء كبير من ميزانيتك يروح مباشرة على اللي يؤثر على نمو شغلك فقط
                  </p>
              </div>
          </div>

      </div>
          </div>
      </div>
  </div>
</section>


<!-- Counter Section  -->

<section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn; background-color: #F4F2EE;">
  <div class="container">
   <div class="row justify-content-center text-center">
    <div class="col-md-4">
      <i class="fa fa-heart medium-icon"></i>
      <br>
     <span id="count1" class="display-4"> </span>
     <p style="color: #272928; font-size: 30px;">ردة فعل ايجابية</p>

    </div>
    <div class="col-md-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-kanban-fill" viewBox="0 0 16 16" style="margin-bottom:16px;">
        <path d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm5 2h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1m-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm9-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1"/>
      </svg>
      <br>
     <span id="count2" class="display-4"> </span>
     <p style="color: #272928; font-size: 30px;"> قصة نجاح</p>

    </div>
    <div class="col-md-4">
      <i class="fa fa-user medium-icon"></i>
      <br>
     <span id="count3" class="display-4"></span>
     <p style="color: #272928; font-size: 30px;"> عملاء</p>

    </div>
   </div>
  </div>
 </section>


<!-- Article section  -->


<section>
  <div class="row">

    <div class="col-6">
        <div class="row " style="padding-bottom: 10px;">
          <div class="col-6">
            <div class="notification">
              <div class="notiglow"></div>
              <div class="notiborderglow"></div>
              <div class="notititle">Welcome To Uiverse</div>
              <div class="notibody">Contribute to Open Source UI Elements</div>
            </div>
          </div>
          <div class="col-6">
   
                <div class="notification">
                  <div class="notiglow"></div>
                  <div class="notiborderglow"></div>
                  <div class="notititle">Welcome To Uiverse</div>
                  <div class="notibody">Contribute to Open Source UI Elements</div>

              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="notification">
              <div class="notiglow"></div>
              <div class="notiborderglow"></div>
              <div class="notititle">Welcome To Uiverse</div>
              <div class="notibody">Contribute to Open Source UI Elements</div>
            </div>
          </div>
          <div class="col-6">

                <div class="notification">
                  <div class="notiglow"></div>
                  <div class="notiborderglow"></div>
                  <div class="notititle">Welcome To Uiverse</div>
                  <div class="notibody">Contribute to Open Source UI Elements</div>
                </div>

          </div>
        </div>
        <div class="mt-10 text-center d-flex justify-content-center">
          <a href="{% url 'main:articles' %}" class="btn " style="background-color: #272928;margin-top: 40px; "><span style="color: #F4F2EE;"> أعرف أكثر</span></a>
       </div>
    </div>

      <div class="col-6 text-center pt-5">
        <h2 class="h1 fw-bold">  كن الرقم الصعب في <br> <u class="text-warning"><span style="color: #8EB89C;"> سوق العمل </span></u></h2>
        <p class="lead  title2">مواضيع ومقلات تهمك وتفيدك</p>
      </div>

  </div>

</section>
<section style="background-color: #F4F2EE; direction: rtl; justify-content: center;box-shadow: #6E6A6A;">
<div >
    <div class="title">
        <h1 style="font-size: 100%; text-align: right;color: #8EB89C;"> ابحث عن مطبخ <u class="text-warning"><span style="color: #111;">يناسبك   </span></u></h1>
    </div>

    {% for kitchen in kitchens %}
    <div class="row px-3">
        <div class="col d-flex justify-content-center" style="justify-items: center;">
            <div class="card" style="width: 20rem;">
                <img src="{{kitchen.image.url}}" class="card-img-top" alt="poster">
                <div class="card-body">
                   <h5 class="card-title">{{kitchen.title}}</h5>
                   <h6>Spcae: {{kitchen.space}} m<sup>2</h6>
                   <h6>Price: {{kitchen.price}} SR/{{kitchen.period}}</h6>
                   <div class="d-flex justify-content-end">
                        <a href="{% url 'KitchenOwner:kitchen_details' kitchen.id %}" class="btn btn-outline-warning" style="color: #6E6A6A;">التفاصيل</a>
                   </div>
                </div>
             </div>
        </div>
    </div>                    

    {% endfor %}
<br><br> <br>

<div class="row">
    <div class="text-center" style="margin-top:30px;">
        <a href="{% url 'KitchenOwner:all_kitchens' %}" class="btn btn-dark " style="background-color: #272928; width: 100px;"> <span style="color: #F4F2EE;">أكثر</span></a>
     </div>
</div>
</div>

</section>




<!-- View Some Kitchens  -->

<section style="background-color: #F4F2EE; direction: rtl; justify-content: center;box-shadow: #6E6A6A;">
<div >
    <div class="title">
        <h1 style="font-size: 100%; text-align: right;color: #8EB89C;"> ابحث عن مطبخ <u class="text-warning"><span style="color: #111;">يناسبك   </span></u></h1>
    </div>

    {% for kitchen in kitchens %}
    <div class="row px-3">
        <div class="col d-flex justify-content-center" style="justify-items: center;">
            <div class="card" style="width: 20rem;">
                <img src="{{kitchen.image.url}}" class="card-img-top" alt="poster">
                <div class="card-body">
                   <h5 class="card-title">{{kitchen.title}}</h5>
                   <h6>Spcae: {{kitchen.space}} m<sup>2</h6>
                   <h6>Price: {{kitchen.price}} SR/{{kitchen.period}}</h6>
                   <div class="d-flex justify-content-end">
                        <a href="{% url 'KitchenOwner:kitchen_details' kitchen.id %}" class="btn btn-outline-warning" style="color: #6E6A6A;">التفاصيل</a>
                   </div>
                </div>
             </div>
        </div>
    </div>                    

    {% endfor %}
<br><br> <br>

<div class="row">
    <div class="text-center" style="margin-top:30px;">
        <a href="{% url 'KitchenOwner:all_kitchens' %}" class="btn btn-dark " style="background-color: #272928; width: 100px;"> <span style="color: #F4F2EE;">أكثر</span></a>
     </div>
</div>
</div>

</section>


<!-- FAQ  -->
<section style="background-color: #fff; direction: rtl;">

    <h2 class="title">اسئلة شائعة</h2>
    <br>
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="border-bottom py-3 row " style="display: flex; justify-content: space-between;" id="headingOne">
          <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
           <h3 class="mb-0 fw-bold col-11" >
              <span class="text-end" style="color: #6E6A6A; ;">
اقدر افاوض بأسعار المطابخ؟ </span>
</h3>
          <span class="material-symbols-outlined justify-content-end col-1" style="color: #6E6A6A; " >
              add
          </span>
          <span class="collapse-toggle ms-4">
            <i class="fe fe-plus" style="color: #6E6A6A;"></i>
          </span>
          </a>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
كل مطبخ يختلف عن الثاني. بعض المطابخ المعروضة أسعارها قابلة للتفاوض وبعضها غير قابلة للتفاوض
        </div>
      </div>

        <div class="border-bottom py-3 row " style="display: flex; justify-content: space-between;" id="headingTwo">
          <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h3 class="mb-0 fw-bold col-11" >
              <span class="" style="color: #6E6A6A;">
اقدر أستأجر المطبخ لفترة محددة؟              </span>
</h3>
            <span class="material-symbols-outlined justify-content-end col-1" style="color: #6E6A6A; " >
                add
              </span>
            <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
            </span>
            </a>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
طبعًا تقدر ! تحدد الموعد المرغوب من وإلى متى وقت حجز المطبخ  
         </div>
      </div>


        <div class="border-bottom py-3 row " style="display: flex; justify-content: space-between;" id="headingThree">
          <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h3 class="mb-0 fw-bold col-11">
              <span class="" style="color: #6E6A6A;">
كيف أعرف إذا صاحب المطبخ موثوق ومعلومات المطبخ صحيحة؟              </span>
</h3>
<span class="material-symbols-outlined justify-content-end col-1" style="color: #6E6A6A; " >
  add
              </span>
              <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
              </span>
              </a>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
            تقدر تشوف تقييمات المستخدمين السابقة للمطبخ 
           </div>
        </div>

        
        <div class="border-bottom py-3 row " style="display: flex; justify-content: space-between;" id="headingFour">
          <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h3 class="mb-0 fw-bold col-11">
              <span class="" style="color: #6E6A6A;">
كيف اتواصل مع أصحاب المطابخ قبل الحجز؟              </span>
</h3>
                <span class="material-symbols-outlined justify-content-end col-1" style="color: #6E6A6A; " >
                  add
                </span>
              <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
              </span>
              </a>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
            معلومات أصحاب المطابخ موجودة في حال احتجت أي استفسار تقدر تتواصل معهم 

          </div>
      </div>
  </div>
        <br><br> <br><br>
        <div class="mt-10 text-center">
           <a href="{% url 'main:contact' %}" class="btn " style="background-color: #272928; "><span style="color: #F4F2EE;"> تواصل معنا </span></a>
        </div>
</section>




<!-- regiester section  -->


<section style="background-color:#00815b;">
  <div class="row title" style="color: #F4F2EE;">
    نجاح الغد يبدأ اليوم 
  </div>
  <br>
  <div class="row  d-flex justify-content-center">
    <div class="mt-10 text-center">
      <a href="{% url 'accounts:register' %}" class="btn " style="background-color: #272928; "><span style="color: #F4F2EE;">   انضم لنا   </span></a>
   </div>

  </div>
</section>






<!-- Script for the counter section -->
<script>
    $(document).ready(function() {

$('.counter').each(function () {
$(this).prop('Counter',0).animate({
Counter: $(this).text()
}, {
duration: 4000,
easing: 'swing',
step: function (now) {
    $(this).text(Math.ceil(now));
}
});
}); 

});  
</script>


<!-- script for the counter  -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
 function counter(id, start, end, duration) {
  let obj = document.getElementById(id),
   current = start,
   range = end - start,
   increment = end > start ? 1 : -1,
   step = Math.abs(Math.floor(duration / range)),
   timer = setInterval(() => {
    current += increment;
    obj.textContent = current;
    if (current == end) {
     clearInterval(timer);
    }
   }, step);
 }
 counter("count1", 0, 410, 3000);
 counter("count2", 100, 327, 2500);
 counter("count3", 0, 657, 3000);
});

</script>

{% endblock %}