{% extends 'main/base.html' %}
{% block title %}CookSpaces | HOME{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<!-- Main section -->

    <div class="main-img" style="position: relative; background-color: #F4F2EE;" >
        <div>
            <img src="static/images/main.jpeg" alt="" class="main-img" style="width: 80%; margin-top: 60px;">
            <div style="position: absolute; bottom: 0; right: 0; background-color: #F4F2EE; margin: 100px; padding: 280px 150px;">
                <h2><span>حيث تتحول الأفكار الى واقع ملموس </span><br></h2>
            </div>
        </div>
    </div>

<!-- Regeister section  -->

<section style="position:flex; flex-direction: column; background-color: #487E9C ;" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5" style="margin-top: 300px;">
                <h1 style="font-size: 100px; color: #F4F2EE; text-align: center;"> Join Us <br>Now !</h1>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-md-6"> 
                        <div class="content">
                            <div class="card">
                                <div class="icon">
                                    <i class="fas fa-edit"></i>
                                </div>
                                <div class="info">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content">
                            <div class="card">
                                <div class="icon">
                                    <i class="fas fa-video"></i>
                                </div>
                                <div class="info">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="content">
                            <div class="card">
                                <div class="icon">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <div class="info">
                                    <h3></h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>



<!-- Counter Section  -->

<section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-beer medium-icon"></i>
                <span id="anim-number-pizza" class="counter-number"></span>
                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">2800</span>
                <p class="counter-title">Beer Ordered</p>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon"></i>
                 <span class="timer counter alt-font appear" data-to="980" data-speed="7000">980</span>
                <span class="counter-title">Happy Clients</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                <i class="fa fa-anchor medium-icon"></i>
                 <span class="timer counter alt-font appear" data-to="810" data-speed="7000">810</span>
                <span class="counter-title">Projects Completed</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                <i class="fa fa-user medium-icon"></i>
                 <span class="timer counter alt-font appear" data-to="600" data-speed="7000">600</span>
                <span class="counter-title">Clients Served</span>
            </div>
            <!-- end counter -->
        </div>
    </div>
</section>




<!-- Our Services  -->

<section class="cards" id="services" style="background-color: #6A3665; justify-content: center; color: #F4F2EE;">
    <h2 class="title" style="color:#F4F2EE">Services</h2>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-edit"></i>
                    </div>
                    <div class="info">
                        <h3>Script Writing</h3>
                        <p>Research and write scripts for different topics that can then be directly recorded for video production</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="info">
                        <h3>Video Production</h3>
                        <p>Record and shoot videos taking into consideration proper settings, followed by production & post-production work</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="info">
                        <h3>Curriculum Development</h3>
                        <p>Develop complete curriculums for various technical topics to produce digital transformative courses</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="info">
                        <h3>Curriculum Development</h3>
                        <p>Develop complete curriculums for various technical topics to produce digital transformative courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- View Some Kitchens  -->

<section>
    <h2 class="title">Find a suitable Kitchen for you</h2>

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card shadow">
                <img src="../images/kitchen1.jpeg" class="card-img-top rounded-top" alt="Designer desk">
                <div class="card-body">
                    <div class="media d-flex align-items-center justify-content-between">
                        <div class="post-group">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                <img class="avatar-sm me-2 img-fluid rounded-circle" src="../images/owner1.jpeg" alt="Jo portrait"> Jo J. Moore
                            </a>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                        </div>
                    </div>
                    <h3 class="h5 card-title mt-4">We partnered up with Google</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm" style="background-color: #6A3665; color: #F4F2EE;">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card shadow">
                <img src="../images/kitchen1.jpeg" class="card-img-top rounded-top" alt="Designer desk">
                <div class="card-body">
                    <div class="media d-flex align-items-center justify-content-between">
                        <div class="post-group">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                <img class="avatar-sm me-2 img-fluid rounded-circle" src="../images/owner1.jpeg" alt="Jo portrait"> Jo J. Moore
                            </a>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                        </div>
                    </div>
                    <h3 class="h5 card-title mt-4">We partnered up with Google</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm" style="background-color: #6A3665; color: #F4F2EE;">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card shadow">
                <img src="../images/kitchen1.jpeg" class="card-img-top rounded-top" alt="Designer desk">
                <div class="card-body">
                    <div class="media d-flex align-items-center justify-content-between">
                        <div class="post-group">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                <img class="avatar-sm me-2 img-fluid rounded-circle" src="../images/owner1.jpeg" alt="Jo portrait"> Jo J. Moore
                            </a>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                        </div>
                    </div>
                    <h3 class="h5 card-title mt-4">We partnered up with Google</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm" style="background-color: #6A3665; color: #F4F2EE;">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <!-- Add another column here if you have another card to display -->
        </div>
        <div class="col-12 col-md-4">
            <!-- Add another column here if you have another card to display -->
        </div>
    </div>
    <div>
        <a href="#" class="d-flex justify-content-start">See more</a>
    </div>
  
</section>

<hr style="color: #6E6A6A; margin-left: 300px; margin-right: 300px;">




<!-- FAQ  -->

<section>
    <h2 class="title">FAQ </h2>
    <h4 class="title" style="color: #6E6A6A;">We Are Here To Help </h4>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
</section>


<script>
    $(document).ready(function() {

$('.counter').each(function () {
$(this).prop('Counter',0).animate({
Counter: $(this).text()
}, {
duration: 4000,
easing: 'swing',
step: function (now) {
    $(this).text(Math.ceil(now));
}
});
}); 

});  
</script>

{% endblock %}