{% extends 'main/base.html' %}
{% block title %}CookSpaces | HOME{% endblock %}

{% block style %}
<style>
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 200,
      'opsz' 24
    }

    </style>
{% endblock %}

{% block content %}

<!-- Main section -->

    <div class="main-img" style="position: relative; background-color: #F4F2EE;" >
        <div>
            <img src="static/images/main.jpeg" alt="" class="main-img" style="width: 80%; margin-top: 60px;">
            <div style="position: absolute; bottom: 0; right: 0; background-color: #F4F2EE; margin: 100px; padding: 250px 100px;">
                <div>
                    <h1 style="color: #6E6A6A; font-size: 40px; font-weight: 50%; text-align: center;">Where culinary dreams<br>come to life!</h1>
                </div>
            </div>
        </div>
    </div>


<!-- About section  -->
<section style="background-color: #F4F2EE;">
    <div style="padding: 0 80px;">
        <p class="title"> About us</p>
        <p class="title2">We are a one-stop solution for cloud restaurants and aspiring chefs ooking to kickstart their culinary journey. At CookSpaces, we understand the challenges of starting a food business, whether<br> it's a cloud kitchen or a personal culinary venture.<br> That's why we've created a platform that seamlessly connects kitchen owners, chefs, and food enthusiasts to bring their culinary visions to reality. </p>
    </div>
</section>

<!-- Regeister section  -->

<section style="position:flex; flex-direction: column; background-color: #E7C3BC ;" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4" style="margin-top: 20px;">
                <h1 style="font-size: 100px; color: #F4F2EE; text-align: center;"> Join Us <br>Now !</h1>
            </div>
            <div class="col-7" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <h3 class="card__title">Title
                            </h3>
                            <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            <div class="card__arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                                    <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <h3 class="card__title">Title
                            </h3>
                            <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            <div class="card__arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                                    <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <h3 class="card__title">Title
                                </h3>
                                <p class="card__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                <div class="card__arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                                        <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                </div>
</section>



<!-- Counter Section  -->

<section class="wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row">
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="300ms" style="visibility: visible; animation-duration: 300ms; animation-name: fadeInUp;">
                <i class="fa fa-beer medium-icon"></i>
                <span id="anim-number-pizza" class="counter-number"></span>
                <span class="timer counter alt-font appear" data-to="980" data-speed="7000">2800</span>
                <p class="counter-title">Beer Ordered</p>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin text-center counter-section wow fadeInUp sm-margin-bottom-ten animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeInUp;">
                <i class="fa fa-heart medium-icon"></i>
                 <span class="timer counter alt-font appear" data-to="980" data-speed="7000">980</span>
                <span class="counter-title">Happy Clients</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 bottom-margin-small text-center counter-section wow fadeInUp xs-margin-bottom-ten animated" data-wow-duration="900ms" style="visibility: visible; animation-duration: 900ms; animation-name: fadeInUp;">
                <i class="fa fa-anchor medium-icon"></i>
                 <span class="timer counter alt-font appear" data-to="810" data-speed="7000">810</span>
                <span class="counter-title">Projects Completed</span>
            </div>
            <!-- end counter -->
            <!-- counter -->
            <div class="col-md-3 col-sm-6 text-center counter-section wow fadeInUp animated" data-wow-duration="1200ms" style="visibility: visible; animation-duration: 1200ms; animation-name: fadeInUp;">
                <i class="fa fa-user medium-icon"></i>
                 <span class="timer counter alt-font appear" data-to="600" data-speed="7000">600</span>
                <span class="counter-title">Clients Served</span>
            </div>
            <!-- end counter -->
        </div>
    </div>
</section>




<!-- Our Services  -->

<section class="cards" id="services" style="background-color: #6A3665; justify-content: center; color: #F4F2EE;">
    <h2 class="title" style="color:#F4F2EE">Services</h2>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-edit"></i>
                    </div>
                    <div class="info">
                        <h3>Kitchen Rental Marketplace</h3>
                        <p>Discover a diverse collection of fully equipped kitchens available for rent on our platform. Whether you're launching a cloud restaurant or experimenting with new recipes, we offer a range of kitchen spaces tailored to your needs. Browse through our curated selection, choose the perfect kitchen, and start cooking your culinary creations today</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-video"></i>
                    </div>
                    <div class="info">
                        <h3>Culinary Workspace Solutions</h3>
                        <p>For passionate cooks without access to a dedicated kitchen, our platform offers affordable and flexible culinary workspace solutions. Rent a fully equipped kitchen at your convenience and unleash your creativity. Whether you're a budding chef, a home cook with a specialty, or an entrepreneur looking to test new recipes, our kitchens provide the ideal space to bring your culinary dreams to life</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="info">
                        <h3>Chef Networking and Opportunities</h3>
                        <p>Calling all talented chefs! Showcase your culinary expertise and connect with restaurant owners seeking skilled professionals. Create your chef profile, highlight your skills and experience, and unlock a world of exciting opportunities. Our platform makes it easy for restaurant owners to discover your talent and invite you to be a part of their culinary team</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="info">
                        <h3>Curriculum Development</h3>
                        <p>Develop complete curriculums for various technical topics to produce digital transformative courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- View Some Kitchens  -->

<section>
    <h2 class="title">Find a suitable Kitchen for you</h2>

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card shadow">
                <img src="../images/kitchen1.jpeg" class="card-img-top rounded-top" alt="Designer desk">
                <div class="card-body">
                    <div class="media d-flex align-items-center justify-content-between">
                        <div class="post-group">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                <img class="avatar-sm me-2 img-fluid rounded-circle" src="../images/owner1.jpeg" alt="Jo portrait"> Jo J. Moore
                            </a>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                        </div>
                    </div>
                    <h3 class="h5 card-title mt-4">We partnered up with Google</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm" style="background-color: #6A3665; color: #F4F2EE;">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="#" class="d-flex justify-content-start">See more</a>
    </div>
  
</section>

<!-- <hr style="color: #6E6A6A; margin-left: 300px; margin-right: 300px;"> -->




<!-- FAQ  -->
<section >
    <h2 class="title">FAQs</h2>
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="border-bottom py-3" id="headingOne">
           <h3 class="mb-0 fw-bold">
              <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="me-auto" style="color: #6E6A6A;">
              What is the cost of an online course
              </span><span class="material-symbols-outlined" style="color: #6E6A6A;" >
                add
                </span>
              <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
              </span>
              </a>
           </h3>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
              Create beautiful website with this Geeks UI template. Get started building a site today.
           </div>
        </div>
        <!-- Card  -->
        <!-- Card header  -->
        <div class="border-bottom py-3" id="headingTwo">
           <h3 class="mb-0 fw-bold">
              <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="me-auto" style="color: #6E6A6A;">
              What do I need to take a course?
              </span><span class="material-symbols-outlined" style="color: #6E6A6A;" >
                add
                </span>
              <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
              </span>
              </a>
           </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
              Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
              nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
           </div>
        </div>
        <!-- Card  -->
        <!-- Card header  -->
        <div class="border-bottom py-3 " id="headingThree">
           <h3 class="mb-0 fw-bold">
              <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="me-auto" style="color: #6E6A6A;">
              What do I receive for taking this course?
              </span><span class="material-symbols-outlined" style="color: #6E6A6A;" >
                add
                </span>
              <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
              </span>
              </a>
           </h3>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
              quinoa nesciunt laborum eiusmod.
           </div>
        </div>
        <!-- Card  -->
        <!-- Card header  -->
        <div class="pt-3 " id="headingFour">
           <h3 class="mb-0 fw-bold">
              <a href="#" class="d-flex align-items-center text-inherit text-decoration-none" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <span class="me-auto" style="color: #6E6A6A;">
              What willI get if I subscribe to this Certificate?
              </span> <span class="material-symbols-outlined" style="color: #6E6A6A;" >
                add
                </span>
              <span class="collapse-toggle ms-4">
              <i class="fe fe-plus" style="color: #6E6A6A;"></i>
              </span>
              </a>
           </h3>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
           <div class="py-3 fs-4" style="color: #818181;">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
              squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
       </div>
           </div>
        </div>
        <br><br>
        <div class="mt-10 text-center">
           <a href="#" class="btn btn-outline-secondary">More questions? <span style="color: #6A3665;">Contact us</span></a>
        </div>
</section>





<!-- Script for the counter section -->
<script>
    $(document).ready(function() {

$('.counter').each(function () {
$(this).prop('Counter',0).animate({
Counter: $(this).text()
}, {
duration: 4000,
easing: 'swing',
step: function (now) {
    $(this).text(Math.ceil(now));
}
});
}); 

});  
</script>

{% endblock %}