{% extends 'main/base.html' %}
{% load static %}

{% block title %} CookSpaces | USER MESSAGES {% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 120px;">
        <div class="col">
            <h1>Messages from Users</h1>
            <div class="row mt-4">
                {% for recipe in message %}
                <div class="col-4 ">
                    <div class="d-flex flex-column p-3 rounded-4 w-100" style="border-left: 5px groove; border-right: 5px groove;">
                        <div class="d-flex flex-row gap-2">
                            <span class="material-symbols-rounded ">account_circle</span>
                            <h5>{{recipe.first_name}} {{recipe.last_name}}</h5>
                        </div>

                        <h6><a href="mailto:{{ recipe.email }} " target='_blank' rel=noopener noreferrer>{{ recipe.email }}</a></h6>
                        <h6>{{ recipe.message }}</h6>
                        <h6 class="text-muted">{{ recipe.created_at }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div> <!--row 2-->

            <div class="row mt-4 ">
                <div class="col d-flex justify-content-center">
                    <a href="{% url 'main:contact' %}" class="btn btn-outline-dark">Back to Contact Page...</a>
                </div>
            </div>
        </div>
    </div> <!--row 1-->
</div>
{% endblock %}