{% extends 'main/base.html' %}
{% block title %}CookSpaces | order{% endblock %}

{% block styles %}
<style>
	.cat {
    background-color: rgba(21, 128, 155, 0.377);
    color: white;
    align-self: flex-start;
}
.مقبولة {
    background-color: rgba(2, 90, 131, 0.664);
}
.مقبولة:hover {
    box-shadow: 0 0 20px rgba(2, 90, 131, 0.664);
}

.مرفوضة {
    background-color: rgba(255, 0, 0, 0.473);
}
.مرفوضة:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.473);
}

.تحت {
    background-color: rgba(228, 183, 37, 0.473);
}
.تحت:hover {
    box-shadow: 0 0 20px rgba(228, 183, 37, 0.473);
}

.مدفوعة {
  background-color: rgba(0, 128, 0, 0.473);
}
.مدفوعة:hover {
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.473);
}
    .panel-title {display: inline;font-weight: bold;}
    .checkbox.pull-right { margin: 0; }
    .pl-ziro { padding-left: 0px; }

</style>
{% endblock %}

{% block content %}
	<section style="direction: rtl; padding: 0; margin-top: 100px;">
		<div class="container">
			<div class="row">
                <h1>طلباتي</h1>
                <hr>
				<div class="col">
					<div class="d-flex justify-content-center align-items-center">
						<div class="d-flex gap-2">
							<a href="{% url 'Renters:my_order' request.user.id %}" class="p-2 ps-3 pe-3 rounded-pill cat text-decoration-none" style="color: rgb(3, 53, 36);">كل الطلبات</a>
							
							{% for val, key in status %}
								<a href="?cat={{val}}" class="p-2 ps-3 pe-3 rounded-pill cat {% if request.GET.cat == val %} {{ val }} {% endif %} text-decoration-none"  style="color: rgb(3, 53, 36);">{{val}}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<div class="container mt-5">
    <div class="row">

        <h5 class="d-flex justify-content-center">{{msg}}</h5>
        {% for order in orders %}
            <div class="col-4 d-flex mt-2">
                <div class="card" style="width: 20rem;">
                    <img src="{{order.kitchen.image.url}}" alt="poster" style="background-size: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{order.kitchen.title}}</h5>
                        <h6>Spcae: {{order.kitchen.space}} m<sup>2</h6>
                        <h6>Price: {{order.kitchen.price}} SR/{{order.kitchen.period}}</h6>
                        <h6 class="cat p-2 ps-3 pe-3 rounded-pill {{order.status}}" style="width: 50%; text-align: center;">{{ order.status }}</h6>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'KitchenOwner:kitchen_details' order.kitchen.id %}" class="btn btn-outline-warning" style="color: #6E6A6A;">التفاصيل</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}