{% extends 'main/base.html' %}
{% block title %}CookSpaces | profile{% endblock %}

{% block styles %}
<style>
    /* Side bar  */
    /* .sidebar {
    width: 200px;
    background: #FFFFFF;
    position: fixed;
    height: 100%;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 20px;

  }
    
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
    
  .sidebar ul li {
    padding: 10px;
    text-align: center;
  }
    
  .sidebar ul li a {
    text-decoration: none;
    color: rgb(15, 62, 52);
    font-weight: bold;
  }
    
  .sidebar ul li button:hover {
    background: #ffd000;
    color: beige;
  } */
  body{
    background:#eee;
}

.card{
    border:none;
    width: 735px;
    position:relative;
    border-radius:8px;
    cursor:pointer;
    margin-right: 200px;
    padding-right: 10px;

}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#5fe4bc;
    transform:scaleY(1);
    
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#00815b;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}
/* 
.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}

.buttons button {

    margin-right: 20px; /* إضافة مسافة بين الأزرار */
    /* text-decoration: none;
    background-color: black;
    
    

} */ 

</style>
{% endblock %}

{% block content %}
<!-- <section style="direction: rtl;">
<div class="row justify-content-center">
    <div class="col-4 sidebar">
        <ul>
            <li>
            {% if request.user.is_authenticated %} 
              <a class="nav-link mt-5" href="#" style="color: rgb(149, 99, 69);text-transform: capitalize;">أهلا بك<br>✦{{request.user.username }}✦</a>
            {% endif %}
            <li><button class="btn mt-3"><a href="{% url 'Renters:profile' request.user.username %}">حسابي</a></button></li>
    
            
            </li>
            <li><button class="btn"><a href="{% url 'Renters:my_order' %}">طلباتي</a></button></li>
            <li><button class="btn"><a href="{% url 'Renters:saved_kitchens' %}">المطابخ المحفوظة</a></button></li>
            
    
            <hr class="m-3">
            <li><button class="btn logout"><a href="{% url 'accounts:logout' %}">تسجيل خروج</a></button></li>
        </ul>
    </div>


    
        <div class="col-4  px-5">
            <img src="{{ user_profile.renter.avatar.url }}" alt="Profile Image" class="img-fluid rounded-circle" style="width: 200px;">
            <h5>@{{user_profile.username}}</h5>
                <div class=" d-flex justify-content-end align-items-center mt-5" >
                    {% if request.user == user_profile %}
                        <a href="{% url 'Renters:update_profile' user_profile.id %}" class="btn btn-warning">Update</a>
                    {% endif %}
                </div>
        </div>

        <div class="col-4 mt-5 " style="margin-right:10px">

            <div class="d-flex flex-column">
                <h3 style="text-transform: capitalize;">{{user_profile.first_name}} {{ user_profile.last_name}}</h3>
                <a href="mailto:{{user_profile.email}}">{{ user_profile.email }}</a>
                <p class="mt-2">{{ user_profile.renter.about }}</p>

            </div>
            <hr/>
        </div>
    </div>
</div>       
</section> -->
<section>    
    <div class="row">
        <div class=" d-flex justify-content-center align-items-center" >
            {% if request.user == user_profile %}
                <!-- <a href="{% url 'Renters:update_profile' user_profile.id %}" class="btn btn-warning">Update</a> -->
                <a href="{% url 'Renters:update_profile' user_profile.id %}" class="btn btn-warning">
                    <i class="material-symbols-outlined">edit_square</i> Update
                </a>
            {% endif %}
        </div>
        <div class="col-md-7">
            
            
            <div class="card">
                
                <div class="text-center">
                  <img src="{{ user_profile.renter.avatar.url }}" alt="Profile Image" class="img-fluid rounded-circle" style="width: 200px;">
                  <h5>@{{user_profile.username}}</h5>

                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-secondary px-3 rounded text-white">Pro</span>
                    <h3 style="text-transform: capitalize;">{{user_profile.first_name}} {{ user_profile.last_name}}</h3>
                    <a href="mailto:{{user_profile.email}}">{{ user_profile.email }}</a>
                    <a href="tel:{{user_profile.phone}}">{{ user_profile.phone }}</a>
                    
                    
                    <div class="px-4 mt-1">
                      <p class="mt-2">{{ user_profile.renter.about }}</p>
                    
                    </div>
                    
                     
                    
                    <div class="buttons mt-5">
                            <a href="{% url 'Renters:my_order' request.user.id %} " class="btn " style="background-color: #272928;margin-top: 40px; "><span style="color: #F4F2EE;"> طلباتي</span></a>
                            <a href="{% url 'Renters:saved_kitchens' %}" class="btn " style="background-color: #272928;margin-top: 40px; "><span style="color: #F4F2EE;"> المطابخ المحفوظة</span></a>
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
        </div>
        
    </div>
    
</section>


{% endblock %}