{% extends 'main/base.html' %}
{% block title %}CookSpaces | profile{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<section>

    <div class="row justify-content-center">
        <div class="col-4  px-5">
            <img src="{{ user_profile.renter.avatar.url }}" alt="Profile Image" class="img-fluid rounded-circle">
            <h5>@{{user_profile.username}}</h5>
                <div class=" d-flex justify-content-end align-items-center" >
                    {% if request.user == user_object %}
                        <a href="{% url 'Renters:update_profile' user_info.id %}" class="btn btn-warning">Update</a>
                    {% endif %}
                </div>
        </div>

        <div class="col-4">

            <div class="d-flex flex-column">
                <h3 style="text-transform: capitalize;">{{user_profile.first_name}} {{ user_profile.last_name}}</h3>
                <a href="mailto:{{user_profile.email}}">{{ user_profile.email }}</a>
                <p class="mt-2">{{ user_profile.renter.about }}</p>

            </div>
            <hr/>
        </div>
    </div>
</section>
{% endblock %}