{% extends 'main/base.html' %}

{% block title %}Login User{% endblock %}

{% block styles %}
 <style>

.login {
  min-height: 100vh;
  direction: rtl;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

</style>
{% endblock %}
{% block content %}


<!-- <--
<section>
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto" >
                    <h3 class=" title login-heading mb-4 " >!مرحبا</h3>
      
                 Sign In Form --> 
                    <!-- <form action="{% url 'accounts:login' %}" method="post" class="d-flex flex-column gap-2 ">
                        {% csrf_token %}

                      <div class="form-floating mb-3">
                        <input name="username" class="form-control" type="text" minlength="3" id="floatingInput" required placeholder="اسم المستخدم" />
                        <label for="floatingInput">اسم المستخدم</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input name="password" class="form-control" type="password" minlength="6" id="floatingPassword" required placeholder="الرقم السري" />
                        <label for="floatingPassword">الرقم السري</label>
                      </div> -->
      
                      <!-- <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                        <label class="form-check-label" for="rememberPasswordCheck">
                          Remember password
                        </label>
                      </div> -->
      
                      <!-- <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">تسجيل دخول</button>
                        <div class="text-center">
                          <a class="small" href="{% url 'accounts:register' %}">  ماعندك حساب؟ سجّل معنا</a>
                        </div>
                      </div>
      
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      
</section> -->






<section class="pb-lg-14 pb-6 px-5 mt-5 " style="background-color: #fff; direction: rtl; ">
  <div class="container">
    <div class=" row align-items-center ">
          <div class="col">
            <div >
              <form action="{% url 'accounts:login' %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data" style=" padding: 180px 30px; border-radius: 20px; border: 20px; ">
                  {% csrf_token %}
                  <h2 class="h1 fw-bold text-center" > <u class="text-warning "><span style="color: #232524;">  مرحبا !</span></u></h2>

                  <input name="username" class="form-control mb-3 " type="text" minlength="3" required placeholder="اسم المستخدم" />
                      <input name="password" class="form-control mb-3" type="password" minlength="6" required placeholder="الرقم السري" />
                      <input type="submit" class="btn btn mt-3" style="background-color: #00815b; color: #fff;" value="تسجيل دخول" />
                      <div class="text-center">
                        <a class="small" href="{% url 'accounts:register' %}">  ماعندك حساب؟ سجّل معنا</a>
                      </div>
                  </form>

        </div>
      </div>
      <div class="col col-md-5 order-2 order-md-2 d-flex flex-column justify-content-center align-items-center">
        <div class="mb-6 mb-lg-0" style="background-color: #FFD4DD; border-radius: 60px;">
            <div class="mb-2" style="margin-right: 50px; "  >
              <img src="/static/images/signin.jpeg" alt="certificate" class="img-fluid w-100" style="border-radius: 30px;">
            </div>

          </div>
        </div>
    </div>
  </div>

  </div>



</section>




{% endblock %}