{% extends 'main/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block style %}

{% endblock %}
{% block content %}

<!-- Regeister section  -->


  <section style="padding-top:250px;">
    <div class="row" style="background-color: #F4F2EE; padding: 70px; border-radius: 30px;">
        <div class="col-8" style="display: flex; justify-content: space-evenly;">
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <div class="card-regeister">
                        <div class="icon-regeister">
                            <img src="/static/images/restaurant.png" alt="" style="width: 30px;">
                        </div>
                        <strong> تفكر تفتح مطعم سحابي؟
                        </strong>
                        <div class="card__body" style="color:#FFD4DD">
                            ! مكانك هنا
                        </div>
                        <a href="{% url 'Renters:register_renter' %}"><span>سجٌل معنا</span></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-regeister">
                        <div class="icon-regeister">
                            <img src="/static/images/kitchenicon.png" alt="" style="width: 30px;">
                        </div>
                        <strong> عندك مطبخ وبتعرضه للايجار؟
                        </strong>
                        <div class="card__body" style="color:#FFD4DD">
                            ! مكانك هنا
                        </div>
                      <a href="{% url 'KitchenOwner:register_owner' %}"><span>سجٌل معنا</span></a>  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div>
                <h1 style="font-size: 300%; text-align: center; padding-top: 70px;"><u class="text-warning"><span style="color: #111;"  > ابدأ رحلتك الآن </span></u></h1>
            </div>
        </div>
    </div>
  </section>

{% endblock %}