{% extends 'main/base.html' %}
{% block title %}All Chife{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h1>All Chife</h1>
            <div class="row">
                {% for Chife in chife %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{Chife.avatar.url }}" class="card-img-top" alt="Chife Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ Chife.user.first_name}}</h5>
                            <p class="card-text">{{ Chife.about }}</p>
                            <li><strong>Username:</strong> {{Chife.username }}</li>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
