{% extends 'main/base.html' %}
{% load static %}
{% block title %} create Account {% endblock %}

{% block content %}
<section>
    {% if msg %}
    <div class="alert alert-danger">{{msg}}</div>
{% endif %}
<div class="row" >
    <h1 class="title" style="text-align: right; padding-top: 30px;"> <u class="text-warning"><span style="color: #283F31;">تسجيل جديد </span></u></h1>
    <div class="col-xl-5 col-lg-6 col-md-12 col-12">
        <div class="mb-6 " style="background-color: #FFD4DD; border-radius: 60px;">
          <div  style="margin-right: 50px; "  >
            <img src="/static/images/signup.jpeg" alt="certificate" class="img-fluid " style="border-radius: 30px; width: 550px; height: 650px;">
          </div>

        </div>
      </div>

    <div class="col-6">
        <form action="{% url 'Chief:register_chife' %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data" style="direction: ltr; padding-top: 20px;">
            {% csrf_token %}

            <input name="username" class="form-control" type="text" minlength="3" required placeholder="اسم المستخدم" style="direction: rtl;"/>
            <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="الاسم الاول" style="direction: rtl;"/>
            <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="الاسم الاخير" style="direction: rtl;"/>
            <input name="email" class="form-control" type="email" minlength="3" required placeholder="الايميل" style="direction: rtl;"/>
            <input name="phone" class="form-control" type="number" minlength="3" required placeholder="رقم الجوال" style="direction: rtl;"/>

            <textarea name="about" class="form-control" placeholder=" تحدث عن نفسك" style="direction: rtl;"></textarea>
            <h6 style="direction: rtl;">السيرة الذاتية</h6>
            <input type="file" class="form-control" name="cv" style="direction: rtl;"/>


            <h6 style="direction: rtl;">اختر صورة</h6>
            <input type="file" class="form-control" name="avatar" style="direction: rtl;"/>

            <input name="password" class="form-control" type="password" minlength="6" required placeholder="الرقم السري" style="direction: rtl;"/>

            <input type="submit" class="btn btn mt-5" style="background-color: #283F31; color: antiquewhite;" value="Sign Up" />

        </form>
    </div>
    <!-- <div class="col-6">
        <img src="/static/images/signup.jpeg" class="mp-5 rounded-4" style="width: 500px; height: 600px;  margin-left: 20px; margin-bottom: 20px;">
    </div> -->

</div>
</section>
   
{% endblock %}