{% extends 'main/base.html' %}
{% load static %}
{% block title %} update {% endblock %}

{% block content %}



<section class="container mt-5">
    <h1>Update your profile</h1>

    {% if msg %}
        <div class="alert alert-danger" role="alert">
        {{ msg }}
        </div>
    {% endif %}
    <div class="row">
    
        <div class="col-6">

            <form class="d-flex flex-column gap-1" action="{% url 'Chief:update_user_view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                
            <input name="username" class="form-control" type="text" minlength="3" required placeholder="اسم المستخدم" style="direction: rtl;"/>
            <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="الاسم الاول" style="direction: rtl;"/>
            <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="الاسم الاخير" style="direction: rtl;"/>
            <input name="email" class="form-control" type="email" minlength="3" required placeholder="الايميل" style="direction: rtl;"/>
            <input name="phone" class="form-control" type="number" minlength="3" required placeholder="رقم الجوال" style="direction: rtl;"/>

            <textarea name="about" class="form-control" placeholder=" تحدث عن نفسك" style="direction: rtl;"></textarea>
            <h6 style="direction: rtl;">السيرة الذاتية</h6>
            <input type="file" class="form-control" name="cv" style="direction: rtl;"/>


            <h6 style="direction: rtl;">اختر صورة</h6>
            <input type="file" class="form-control" name="avatar" style="direction: rtl;"/>


                <textarea class="form-control" name="about" placeholder="About you..">{{ request.user.profile.about }}</textarea>
                <div class="d-flex align-items-center gap-2 ">
                <img src="{{Chife.avatar.url }}" class="card-img-top" alt="Chife Image">

                <input class="form-control" type="file" name="avatar"  placeholder="choose avatar"/>
                </div>
                

                <input class="btn btn-primary" type="submit" value="Update profile" />
            </form>

        </div>

    </div>

</section>

{% endblock %}
