{% extends "main/base.html" %}

{% block title %}Add Kitchen{% endblock %}

{% block content %}
<style>
#map {
    width:100%;
    height: 300px;
    background-color:cyan;
}
</style>
<section>
    <div class="container my-5">
<div class="row ">
    <div class="col-4 my-5">
            <form action="{% url "KitchenOwner:add_kitchen"  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Add Kitchen:</h4>
                <div class="d-flex flex-column gap-1 ">
                <!--title-->
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="Title">
                <!--Description-->
                <textarea name="desc" cols="30" rows="5" placeholder="Description:"></textarea>
                <!--poster-->
                <label for="poster">Add Poster</label>
                <input type="file" accept="image/*" name="poster">
                <!--space-->
                <label for="space">Space in m<sup>2</label>
                <input type="text" name="space">
                <!--equipments-->
                {% for e in equipments %}
                <div class="d-flex gap-2">
                    <input type="checkbox" name="equipments" id="{{e.id}}" value="{{e.id}}" />
                    <label for="{{e.id}}" class="d-flex align-items-center gap-1">
                        <span class="material-symbols-outlined">{{e.icon}}</span>
                        <h5 class="m-0 p-0">{{e.name}}</h5>
                    </label>
                </div>
                {% endfor %}

                    <hr>
                <!--has_ventilation-->
                <div class="d-flex gap-2 ">
                <input type="checkbox" name="has_ventilation" value="True"> Has Ventilation<br>
                </div>
                <!--has_toilet-->
                <div class="d-flex gap-2 ">
                <input type="checkbox" name="has_toilet" value="True"> Has Toilet<br>
                </div>

                <!--has_storage-->
                <div class="d-flex gap-2 ">
                <input type="checkbox" name="has_storage" value="True"> Has Storage<br>
                </div>

                <!--has_waitingarea-->
                <div class="d-flex gap-2 ">
                <input type="checkbox" name="has_waitingarea" value="True"> Has Waiting Area<br>
                </div>

                <hr>
                <div class="d-flex flex-column gap-2 my-2">
                <!--loc_latitude-->
                <input type="text" name="loc_latitude" placeholder="loc_latitude" id="lat" hidden>
                <!--loc_longitude-->
                <input type="text" name="loc_longitude" placeholder="loc_longitude" id="lng" hidden>
                </div>  
                <!--price-->
                <div class="d-felx">
                <label for="price">Price</label>
                <input type="text" name="price">SAR<br>
                <!--period-->
                <select name="period">
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                </select>
                </div> 

                <div id="map"></div>

                <input type="submit" class="btn btn-primary" value="Add">
             </div>

             

            </form>
    </div>
</div>
</div>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1xTP268Ltwj4NX1Hku24XNFPJNZ-kTSQ&callback=initMap" async defer></script>
<script type="text/javascript">
        // JavaScript code goes here

let currentMarker = null; // Marker reference to keep track of the existing marker


function initMap() {
    var mapOptions = {
        center: {lat: 24.9764301, lng:46.6337875},  // Change this to your preferred initial center
        zoom: 8
    };

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    // This event listener will call addMarker() function when the map is clicked.
    map.addListener('click', function(event) {
        addMarker(event.latLng, map);

    // Extract latitude and longitude.
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();

            //assign the value to the lat & long inputs
            document.getElementById("lat").value = lat;
            document.getElementById("lng").value = lng;
        });
}

// Adds a marker to the map.
function addMarker(location, map) {
    // Add the marker at the clicked location.
    // If there's an existing marker, remove it
    if (currentMarker) {
        currentMarker.setMap(null);
    }
    // Add a new marker at the clicked location
    currentMarker = new google.maps.Marker({
        position: location,
        map: map
    });

    // Optionally re-center the map on the new marker
    //map.setCenter(location);
}
</script>
{% endblock  %}
