{% extends "main/base.html" %}

{% block title %} all kitchens {% endblock  %}
<div class="container">

{% block content %}
    <div class="row" style="margin-top: 100px;">
                <h1>كل المطابخ ({{kitchens.count}})</h1>
                <hr>
                <form action="{% url 'KitchenOwner:search_cities' %}" method="GET">
                <input type="text" name="city_search" placeholder="Search by city...">
                <button type="submit">Search</button>
            </form>
                    
                    {% for kitchen in kitchens %}
                        <div class="col-4 d-flex mt-2">
                            <div class="card" style="width: 20rem;">
                                <img src="{{kitchen.image.url}}" alt="poster" style="background-size: cover; height: 200px;">
                                <div class="card-body">
                                    <h6>{{request.user.username}}</h6>
                                   <h5 class="card-title">{{kitchen.title}}</h5>
                                   <h6>Spcae: {{kitchen.space}} m<sup>2</h6>
                                   <h6>Price: {{kitchen.price}} SR/{{kitchen.period}}</h6>
                                   <h6> cities: {{kitchen.city}}</h6>
                                   <div class="d-flex justify-content-end">
                                        <a href="{% url 'KitchenOwner:kitchen_details' kitchen.id %}" class="btn btn-outline-warning" style="color: #6E6A6A;">التفاصيل</a>
                                   </div>
                                </div>
                             </div>
                        </div>
                        {% endfor %}






{% endblock %}