{% extends "main/base.html" %}

{% block title %}kitchen details{% endblock  %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
              <img src="{{kitchen.poster.url}}" alt="" class="w-100 rounded-4 ">
            </div>
            
            <div class="col">
            <div class="d-felx flex-column gap-2">  
                <h1>{{kitchen.title}}</h1>

                <h4>Equipments:</h4>
                {% for e in kitchen.equipment.all %}
                {{e.name}}
                <span class="material-symbols-outlined">{{e.icon}}</span>
                {% endfor %}
                <h3>Price:{{kitchen.price}} SAR/{{kitchen.period}}</h3>
              </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section>

<p>{{kitchen.desc}}</p>
</section>
{% endblock  %}