{% extends 'main/base.html' %}

{% block title %} create Account {% endblock %}
{% block style%}
<!-- <style>
.register{
    background-color: #F4F2EE;
}

</style> -->
{% endblock %}


{% block content %}

<!-- <main >

    <div style="
    margin-top: 100px;
    background-image: url('/static/images/signup.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 1000px;
    direction: rtl;">

    
    <div class="container ">
        <div class="row " >
            {% if msg %}
            <div class="alert alert-danger">{{msg}}</div>
            {% endif %}
            
            <div class="row" style=" margin-top: 80px; direction: rtl;">
                <div class="col-6">
                    <form action="{% url 'KitchenOwner:register_owner' %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data" style="background-color: #F4F2EE; padding: 30px; border-radius: 20px; border: 20px; ">
                        {% csrf_token %}
                        <h1 class="fw-light text-black mb-4  text-center"> انشاء حساب</h1>
                        <input name="username" class="form-control mb-3" type="text" minlength="3" required placeholder="اسم المستخدم" />
                        <div class="row mb-3">
                            <div class="col">
                                <input name="first_name" type="text" class="form-control" id="first_name" placeholder="الاسم الاول ..." required>
                            </div>

                            <div class="col">
                                <input name="last_name" type="text" class="form-control" id="last_name" placeholder=" الاسم الأخير ..." required>
                            </div>
                        </div>
                            <input name="email" class="form-control mb-3" type="email" required placeholder="Email" />
                            <input name="phone" class="form-control mb-3" type="number" maxlength="10" required placeholder="رقم الجوال" />
                            <textarea name="about" class="form-control mb-3" placeholder="أخبرنا عن نفسك"></textarea>
                            <label for="first_name" class="form-label" > صورة العرض:  </label>
                            <input type="file" class="form-control mb-3" name="avatar" />
                            <input name="password" class="form-control mb-3" type="password" minlength="6" required placeholder="الرقم السري" />
                            <input type="submit" class="btn btn mt-3" style="background-color: #00815b; color: #fff;" value="سجل الان" />
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
</main> -->

<section class="pb-lg-14 pb-6 px-5 mt-5 " style="background-color: #fff; direction: rtl; ">
    <div class="container">
      <div class=" row align-items-center ">
            <div class="col">
              <div >
                <form action="{% url 'KitchenOwner:register_owner' %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data" style=" padding: 30px; border-radius: 20px; border: 20px; ">
                    {% csrf_token %}
                    <h2 class="h1 fw-bold text-center"> <u class="text-warning "><span style="color: #232524;"> إنشاء حساب</span></u></h2>

                    <input name="username" class="form-control mb-3" type="text" minlength="3" required placeholder="اسم المستخدم" />
                    <div class="row mb-3">
                        <div class="col">
                            <input name="first_name" type="text" class="form-control" id="first_name" placeholder="الاسم الاول ..." required>
                        </div>

                        <div class="col">
                            <input name="last_name" type="text" class="form-control" id="last_name" placeholder=" الاسم الأخير ..." required>
                        </div>
                    </div>
                        <input name="email" class="form-control mb-3" type="email" required placeholder="Email" />
                        <input name="phone" class="form-control mb-3" type="number" maxlength="10" required placeholder="رقم الجوال" />
                        <textarea name="about" class="form-control mb-3" placeholder="أخبرنا عن نفسك"></textarea>

                        <label for="first_name" class="form-label" >ملف السجل التجاري </label>
                        <input type="file" class="form-control mb-3" name="avatar" />

                        <label for="first_name" class="form-label" > صورة العرض:  </label>
                        <input type="file" class="form-control mb-3" name="avatar" />
                        <input name="password" class="form-control mb-3" type="password" minlength="6" required placeholder="الرقم السري" />
                        <input type="submit" class="btn btn mt-3" style="background-color: #00815b; color: #fff;" value="سجل الان" />
                    </form>
          </div>
        </div>
        <div class="col col-md-5 order-2 order-md-2 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-6 mb-lg-0" style="background-color: #FFD4DD; border-radius: 60px;">
              <div class="mb-2" style="margin-right: 50px; "  >
                <img src="/static/images/signup_owner.jpeg" alt="certificate" class="img-fluid w-100" style="border-radius: 30px;">
              </div>

            </div>
          </div>
      </div>
    </div>

    </div>
 


</section>
    
{% endblock %}