{% extends "main/base.html" %}

{% block title %}update profile{% endblock  %}
{% block content %}

<section>
    <div class="row">
        <div class="col-4 d-flex flex-column gap-3">
            <h2>Update Owner Profile</h2>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
            <form action="{% url "KitchenOwner:update_owner_profile" owner.user.username %}" method="post" enctype="multipart/form-data" class="mt-3">
                {% csrf_token %}
                
                <label for="email">Email:</label>
                <input type="email" name="email" value="{{ owner.user.email }}" class="form-control mb-3">

                <label for="commercial_register">Commercial Register:</label>
                <input type="file" name="commercial_register" class="form-control mb-3">

                <label for="avatar">Avatar:</label>
                <input type="file" name="avatar" class="form-control mb-3">

                <label for="phone">Phone:</label>
                <input type="text" name="phone" value="{{ owner.phone }}" class="form-control mb-3">

                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</section>

{% endblock  %}
